name: Ping
on:
  workflow_dispatch:
    inputs:
      msg:
        description: Message
        required: false
        default: hi

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - run: echo "OK ${{ inputs.msg }}"
